.container {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: transparent;
}
.logo-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    float: left;
    left: 0px;
    width: 200px;
    height: 100px;
    background-color: transparent;
}
.title {
    color: white;
    font-family: Questrial;
    font-size: 20px;
    margin-left: 120px;
    opacity: 0;
    animation: slideIn 300ms ease-in-out 5100ms forwards;
}
.social-media {
    background-color: transparent;
    display: flex;
    float: right;
    right: 0px;
    width: 350px;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
}
.github {
    color: white;
    opacity: 0%;
    animation: slideIn 300ms ease-in-out 5200ms forwards;
    filter: drop-shadow(0px 0px 2px pink);
    cursor: pointer;
}
.github:hover {
    transform: scale(1.5);
}
.linkedIn {
    color: white;
    opacity: 0%;
    animation: slideIn 300ms ease-in-out 5300ms forwards;
    filter: drop-shadow(0px 0px 2px pink);
    cursor: pointer;
}
.facebook {
    color: white;
    opacity: 0%;
    animation: slideIn 300ms ease-in-out 5400ms forwards;
    filter: drop-shadow(0px 0px 2px pink);
    cursor: pointer;
}
.resume {
    animation: slideIn 300ms ease-in-out 5500ms forwards;
    cursor: pointer;
}
.resume:hover{
    transform: translateY(-5px);
}
@media screen and (max-width: 600px) {
    .social-media {
      position: fixed;
      bottom: 0px;
      width: 250px;
    }
    .title {
        margin-left: 80px;
    }
    .github {
        animation: reverseSlideIn 300ms ease-in-out 5500ms forwards;
    }
    .linkedIn {
        animation: reverseSlideIn 300ms ease-in-out 5400ms forwards;
    }
    .facebook {
        animation: reverseSlideIn 300ms ease-in-out 5300ms forwards;
    }
    .resume {
        animation: reverseSlideIn 300ms ease-in-out 5200ms forwards;
    }
  }
@keyframes hover-animation {
    from {
        transform: translateY(5px);
    }
    
}
@keyframes reverseSlideIn {
    from {
        opacity: 0%;
        transform: translateY(50px);
    }
    to { 
        opacity: 100%;
    }
}  
@keyframes slideIn {
    from {
        opacity: 0%;
        transform: translateY(-50px);
    }
    to { 
        opacity: 100%;
    }
}