.staticicon {
    padding: 20px;
    width: 50px;
    height: 50px;
    filter: drop-shadow(0 0 5px pink);
    opacity: 0%;
    animation: slideIn 300ms ease-in-out 5000ms forwards;
}
.staticpath {
    stroke: pink;
    stroke-width: 35px;
    fill: transparent;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
}
@keyframes slideIn {
    from {
        opacity: 0%;
        transform: translateY(-20px);
    }
    to { 
        opacity: 100%;
    }
}
