/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
#main-container{
  height: 100%;
  overflow: hidden;
  animation: fadeOut 1.5s;
  animation-delay: 6s;
  animation-iteration-count: 1;
  display: 'flex'
}
#second-container{
  height: 100vh;
  padding: 4em;
  color: lime;
  font-family: 'Anonymous Pro', monospace;  
  background-color: black;  
}
#line-1{
    position: relative;
    top: 50%;  
    width: 28em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
    animation-iteration-count: 1;
    animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}

/* Animation */
@keyframes typewriter{
  from{width: 0;}
  to{width: 17em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
@keyframes fadeOut{
  0% {
    opacity: 1;
  }
  100% {
    opacity:0
  }
}
